.main-div {
    text-align: center;
    width: 3cm;
    height: 3cm;
    background-color: gray;
    position: absolute;
    left: 6cm;
    top: 6cm;
    z-index: 1;
}

text {
    margin-bottom: 5px;
}

#roll{
    width: 2cm;
    position: relative;
    top: 0cm;
    height: 1cm;
    margin: 3 px;
}
#dice1 {
    margin: 3px;
    width: 0.75cm;
    height: 0.75cm;
}

#dice2 {
    margin: 3px;
    width: 0.75cm;
    height: 0.75cm;
}
